.rsvp{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEE6CA;
    box-sizing: border-box;
}
.content1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content1-1{
    flex: 1;
    padding: 24px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid black;
}
.content1-1 p{
    font-size: 50px;
    font-weight: 200;

}
.content1-1 h1{
    /* width: 100%; */
    font-size: 60px;
    font-weight: 200;
    display: flex;
    font-family: "Parisienne", cursive;
}
.content1-2{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 24px;
    width: 100%;
}
.content1-2 h1{
    width: 100%;
    font-size: 60px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Cormorant Garamond", serif;
}
.submit-form{
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.submit-form label{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.input-name{
    width: 300px;
    max-width: 350px;
    min-width: 200px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
    font-size: 18px;
}
.input-number{
    width: 100px;
    max-width: 110px;
    min-width: 50px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
}
.radio{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    /* margin-right: 8px; */
    accent-color: #028f17;
}
.rsvp button{
    font-size: 20px;
    padding: 10px;
    border-radius: 24px;
    width: 150px;
    /* max-width: 150px; */
    height: auto;
    border: 2px solid #ccb627;
    color: #ccb627;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    animation: transform 3s ease;
}
.rsvp button:hover{
    transform: scale(1.1);
}