@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bungee&family=Caveat:wght@400..700&family=DM+Serif+Text:ital@0;1&family=Lavishly+Yours&family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Petit+Formal+Script&family=Sirivennela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bungee&family=Caveat:wght@400..700&family=DM+Serif+Text:ital@0;1&family=Lavishly+Yours&family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Petit+Formal+Script&family=Sirivennela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bungee&family=Caveat:wght@400..700&family=DM+Serif+Text:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Indie+Flower&family=Lavishly+Yours&family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Petit+Formal+Script&family=Sirivennela&display=swap');
.Our-story{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: #EEE6CA;
    box-sizing: border-box;
    gap: 20px;
}
.love-title{
    font-family: "Parisienne", cursive;
    font-weight: 200;
    font-size: 100px;
}
.love-title-2{
    font-family: "Indie Flower", cursive;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}
.story-p{
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    /* gap: 30px; */
}
.story-p p {
    text-indent: 2rem;
    line-height: 1.7;
    font-size: 18px;
    font-family: "Funnel Sans", sans-serif;
}
.story-p-section1, .story-p-section2{
    display: flex;
    flex-direction: row;
    /* height: 800px; */
}
.story-p-section1-1{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FBFBFB;
    justify-content: center;
    align-items: center;
}
.story-p-section1 div{
    flex: 1;
}
.couple-pic{
    /* width: 80%; */
    height: auto;
    display: grid;
    position: relative;
    grid-template-rows: repeat(2,auto);
    padding: 24px;
    align-items: center;
    justify-content: center;
    /* gap: 24px; */
    background-color: #FFFFF0;
}
.couple-pic img{
    width: 100%;
    max-width: 270px;
    max-height: 400px;
    object-fit: cover;
    display: block;
    /* cursor: pointer; */
    /* transition: transform 0.3s ease; */
    /* border-radius: 12px; */
}
/* .couple-pic img:hover{
    transform: scale(1);
} */
.left-pic{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* border-radius: 12px; */
}
.right-pic {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    /* border-radius: 12px; */
}

.fin-pic img{
    width: 100%;
    /* max-width: 270px; */
    /* max-height: 400px; */
    height: 380px;
    object-fit: cover;
    display: block;
}

.fin-pic {
  display: flex;
  flex-direction: row;
  place-items: center;
  padding: 0;
  margin: 0;
}

.fin-left {
  /* margin-bottom: 0px; */
  /* margin-right: -50px; */
}

.fin-right {
  /* margin-top: 100px; */
  /* margin-left: -150px; */
}
.story-p-section2-2, .fin-pic{
    flex: 1;
}
.story-p-section2-2{
    display: flex;
    flex-direction: column;
    /* padding: 24px; */
    background-color: #FBFBFB;
    justify-content: center;
    align-items: center;
}
.story-p-section2-2 p{
    padding: 24px;
    font-family: "Funnel Sans", sans-serif;
}