.thank{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.thank-you{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    padding: 10px;
}
.thank button{
    font-size: 20px;
    padding: 10px;
    border-radius: 24px;
    width: 150px;
    /* max-width: 150px; */
    height: auto;
    border: 2px solid #ccb627;
    color: #ccb627;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    animation: transform 3s ease;
}
.thank button:hover{
    transform: scale(1.1);
}